html{
    font-size: 15px;
}
body{
    font-family: Arial, Helvetica, sans-serif;
    margin: 0;
}
.radio{
    position: relative;
    margin-bottom: 1rem;
}
.radio_input{
    -webkit-appearance: none;
    appearance: none;
    position: absolute;
}
.radio_label{
    padding-left: 25px;
    color: #444;
    cursor: pointer;
    font-size: 1rem;
}
.radio_label::before{
    content: "";
    background-color: #fff;
    border: 1px solid #ccc;
    display: block;
    height: 16px;
    width: 16px;
    border-radius: 50%;
    top: 0;
    left: 0;
    z-index: 1;
    transition: border .1s linear;
    position: absolute;
}
.radio_label::after{
    content:"";
    position: absolute;
    display: block;
    width: 12px;
    height: 12px;
    border-radius: 50%;
    background-color: #49d120;
    top: 3px;
    left: 3px;
    opacity: 0;
    z-index: 2;
    transition: op;
}
.radio_input:checked + .radio_label::before{
    border-color: #319612;
}
.radio_input:checked + .radio_label::after{
    opacity: 1;
}

